<!DOCTYPE html>
<html>
<head>
  <title>Fink</title>
  <%= stylesheet_link_tag    "fink/application", media: "all" %>
  <%= javascript_include_tag "fink/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
